@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>Ukupholisa Healthcare</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @if (uri != "https://localhost:7267/" && uri != "https://localhost:7267/Register")
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <div class="top-row px-4">
            <span>Welcome @now </span>>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    DateTime now = DateTime.Now;

    string uri = "";

    protected override void OnInitialized()
    {
        uri = NavigationManager.Uri;
        Console.WriteLine(uri);
    }
}

